/*------------------------ "Dimi's" CSS ------------------------*/

/*--- Base theme from pseudo ---*/

/* a vast majority of everything you see below here was written by either @voidnyan (~85%) or @Anzu (~10%). only an extremely tiny minority is my own. if you're reading this, please don't ask me how to change certain things because chances are i don't know how to LOL. */

/* everything is organized according to the way i make layout and CSS changes, so it might not be as modular as you're hoping. you're welcome to prod around, but as aforementioned, i might not be able to help if things aren't implementing the way you intend them to for your own profile. */

/* many thanks to both of them for all the help. */

/*------------------------ CSS BEGIN ------------------------*/

@import url("https://voidnyan.github.io/anilist-css/css/social.css");
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://anzuftnw.github.io/files/simple-theme-framework.css");

/*------------------------ MAIN SECTION — stock layout, keep this while changing layouts ------------------------*/

/*--- profile standardization for various automail configs ---*/
.hohDownload,
.hohColourPicker,
.hohDismiss,
.pinned {
	display: none !important;
}
.footer .links {
	margin-left: auto;
	transform: unset;
}
.banner .shadow {
	display: block;
}
.hohButton {
    background: rgb(var(--color-blue)) !important;
}

/*--- custom font ---*/
*.overview,
.stats-wrap,
.nav,
.lists,
.filters,
.user-follow,
.user-reviews,
.filter-group,
.el-input__inner,
.el-textarea__inner,
.el-scrollbar,
.el-tooltip__popper,
.tooltip .content,
.user-follow > .name,
.section-header,
.banner-content,
.option,
.content > .user-social,
.content .submissions,
.el-dropdown-menu.el-popper.el-dropdown-menu--small,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium,
.container > .activity-entry .wrap,
.container > .activity-entry .reply,
.el-dialog__body .title,
.el-dialog__body .save-btn,
.el-dialog__body .input-title,
*.el-picker-panel.el-date-picker.el-popper,
*.quick-search.visible,
.primary-links,
.footer,
#nav.nav .links,
*.el-message-box,
.el-button.el-button--default.el-button--small,
.el-button.el-button--default.el-button--small.el-button--primary,
.delete-btn,
*.checkbox-wrap,
.hohButton,
.activity-feed .time,
* {
	font-family: "Asap", sans-serif;
}

/*--- lowercase styling ---*/
.details,
.stats-wrap,
.nav,
.action.has-label,
.stats > .title,
.filters,
.section-header,
.title > :not(.notes),
.list-head>div,
.score,
.progress,
.status,
.format,
.genres,
.el-input__inner,
.el-scrollbar,
.heading.score,
.switch,
.favourites-wrap,
.read-review,
.content > .header,
.follower-badge,
.action.has-label.active,
.nav-btn,
.el-tooltip__popper,
.pie-chart.vertical-layout > .title,
.options > .option,
.tooltip .content,
.donator-badge:not(.donator-badge.rainbow),
textarea::placeholder,
.el-dropdown-menu.el-popper.el-dropdown-menu--small,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium,
.el-dialog__body .title,
.el-dialog__body .save-btn,
.el-dialog__body .input-title,
*.el-picker-panel.el-date-picker.el-popper,
.quick-search input[placeholder="Search AniList"],
.result-col > .title,
.embed,
.primary-links,
.footer,
.void-button.void-self-message,
.void-toast,
#nav.nav .links,
*.el-message-box,
.el-button.el-button--default.el-button--small,
.el-button.el-button--default.el-button--small.el-button--primary,
.delete-btn,
*.checkbox-wrap,
.stats .title,
.filter-group span,
.load-more,
.hohButton,
.submissions,
.actions {
	text-transform: lowercase !important;
}

/*--- expand list notes ---*/

.medialist .notes:before, .medialist .repeat:before {
    width: max-content;
    max-width: 75%;
}

/*--- global colours (non theme-specific) ---*/
body, 
.site-theme-dark, 
.site-theme-contrast,
:root {
	--color-overlay: 20, 20, 20; /* favourites and activity history hover display, activity little arrow menu */
}
.el-tooltip__popper {
    background: rgb(20, 20, 20) !important;
}
.el-tooltip__popper[x-placement^="top"] .popper__arrow,
.el-tooltip__popper[x-placement^="top"] .popper__arrow::after {
    border-top-color: rgb(20, 20, 20) !important;
}
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow,
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: rgb(20, 20, 20) !important;
}

/*--- navbar animations and renaming ---*/
.nav > .link {
	position: relative;
}
.nav > .link::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	background: rgb(var(--color-blue));
	transition: 0.2s ease-in-out;
}
.nav > .router-link-active::after {
	left: 0;
	width: 100%;
	background: rgb(var(--color-blue));
}
.nav > .link:hover::after {
	left: 0;
	width: 100%;
	background: rgb(var(--color-blue));
	color: #3190c2;
}
.nav-wrap :is(
a[href*="/animelist"],
a[href*="/mangalist"],
a[href$="/DimitrovN/"]
) {
  visibility: hidden;
position: relative;
padding-left: 0px !important;
padding-right: 0px !important;
}
.nav-wrap :is(
a[href*="/animelist"],
a[href*="/mangalist"],
a[href$="/DimitrovN/"]
)::after {
visibility: visible;
}
.nav-wrap :is(
a[href*="/animelist"],
a[href*="/mangalist"],
a[href$="/DimitrovN/"]
)::before{
text-align: center;
display: inline-block;
left: 0;
width: 100%;
visibility: visible;
position: absolute;
}
.nav-wrap a[href*="/animelist"]::before {
  content: "anime";
}
.nav-wrap a[href*="/mangalist"]::before {
  content: "manga";
}
.nav-wrap a[href$="/DimitrovN/"]::before {
  content: "index";
}
.nav-wrap a {
  background: unset !important
}

/*--- stats wrap restyling ---*/
.stats-wrap .footer {
        background: unset !important;
}
.stats-wrap[data-v-815ccddc] {
        padding-bottom: 11.7px
}

.stats-wrap .stat:first-child .value {
	font-size: 2rem;
}
.stats-wrap .stat:nth-child(2) .value {
	font-size: 2rem;
	color: rgb(var(--color-blue));
}
.stats-wrap .stat:nth-child(3) .value {
	font-size: 2rem;
	color: rgb(var(--color-blue));
}
.stats-wrap .stat:first-child .label,
.stats-wrap .stat:nth-child(2) .label,
.stats-wrap .stat:nth-child(3) .label {
        font-size: 0.95rem;
}

.user.user-page-unscoped .progress .bar:after {
        background: rgba(var(--color-blue));
}

/*--- recolour AL button ---*/
.logo img {
    content: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 361 273"><defs><style> .cls-1 { fill: %23fefefe; } .cls-1, .cls-2 { stroke-width: 0px; } .cls-2 { fill: %233190c2; } </style></defs><path class="cls-2" d="m246.92,203.27V16.6c0-10.7-5.89-16.6-16.56-16.6h-36.43c-10.67,0-16.56,5.9-16.56,16.6v88.65c0,2.5,24,14.09,24.62,16.54,18.28,71.61,3.97,128.92-13.36,131.6,28.34,1.4,31.45,15.06,10.35,5.73,3.23-38.21,15.83-38.13,52.05-1.41.31.32,7.43,15.28,7.87,15.28h85.54c10.67,0,16.56-5.9,16.56-16.6v-36.52c0-10.7-5.89-16.6-16.56-16.6h-97.52Z" /><path class="cls-1" d="m95.68,0L0,273h74.34l16.19-47.22h80.96l15.83,47.22h73.97L165.97,0h-70.29Zm11.78,165.28l23.18-75.63,25.39,75.63h-48.58Z" /></svg>');
    padding: 6px;
}

/*--- donator/follow buttons transparency ---*/
.donator-badge:not(.donator-badge.rainbow) {
	animation-duration: unset !important;
	background-color: rgba(var(--color-blue), 0.6) !important;
}
.follower-badge,
.nav-btn {
	background-color: rgba(var(--color-blue), 0.6) !important;
}

/*--- profile width ---*/
.favourites.preview .favourites-wrap {
	padding: 17px !important;
	padding-bottom: 4px !important;
	padding-right: 0 !important;
}
.favourites.preview .favourites-wrap .favourite,
.favourites.preview .favourites-wrap > div {
	margin-bottom: 12px !important;
	margin-right: 17px !important;
}
.container {
	max-width: 1140px !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
}
.genres .genre:last-child {
	display: none !important;
}
.history-day:nth-of-type(-n + 21) {
	display: none;
}
.activity-entry:has(.small) {
	grid-column-start: 1 !important;
	grid-column-end: 3 !important;
}
.section > .stats-wrap {
	grid-template-columns: 1fr !important;
	grid-column-gap: 0 !important;
}
.stat-cards {
	grid-template-columns: repeat(2, 1fr) !important;
}
.stat-cards.has-images {
	grid-template-columns: 1fr !important;
	max-width: 700px !important;
}
.highlights {
	display: grid !important;
	grid-gap: 40px 30px !important;
	grid-template-columns: repeat(3, 1fr) !important;
	margin-left: 5% !important;
	width: 90% !important;
}

/*--- all favourites styling (stock layout takes ~551px for --first-row) ---*/
.overview .section:first-child .section-header {
	text-transform: lowercase;
}
.overview .section-header {
	text-transform: lowercase;
        font-weight: 700
}
a.favourite {
	margin-bottom: 32px !important;
	z-index: 5;
}
.favourites .favourites .favourite {
        margin-bottom: initial !important;
}
a.favourite:hover {
	z-index: 3;
}
.delete {
        z-index: 6 !important;
}
.favourite.studio {
	background: rgba(0, 0, 0, 0) !important;
	box-shadow: none !important;
}
a.favourite::after {
	font-size: 11px;
	position: absolute;
	top: 0px;
	border-radius: 4px 4px 0px 0px;
	text-align: center;
	width: 100%;
	background: rgba(var(--color-overlay), 0.65);
	padding: 4px;
	color: white;
	user-select: all;
	opacity: 0;
	transition: opacity ease-in-out 0.15s;
}
a.favourite:hover::after {
	opacity: 1;
	transition-delay: 0s;
}
:root {
	--height: 115px;
	--width: 77.6px;
	--gap: 10px;
	--first-column: -20px;
	--second-column: calc(var(--first-column) + var(--width) + var(--gap));
	--third-column: calc(var(--second-column) + var(--width) + var(--gap));
	--fourth-column: calc(var(--third-column) + var(--width) + var(--gap));
	--fifth-column: calc(var(--fourth-column) + var(--width) + var(--gap));
	--first-row: 374.1px;
	--second-row: calc(var(--first-row) + var(--height) + var(--gap));
	--third-row: calc(var(--second-row) + var(--height) + var(--gap));
	--fourth-row: calc(var(--third-row) + var(--height) + var(--gap));
	--fifth-row: calc(var(--fourth-row) + var(--height) + var(--gap));
	--first-row-manga: calc(var(--fifth-row) + var(--height) + 61.3px);
	--write-up: "write-up";
	--review: "review";
	--series: "whole series";
	--season: "season only";
	--movie: "movie only";
}




.favourites .favourites .section-header {
  visibility: hidden;
}

.favourites.preview .favourites-wrap:not(.favourites.preview .favourites-wrap.studios) {
    display: grid !important;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(115px, auto);
    padding: 0 !important;
    margin-bottom: 35px !important;
    background: unset !important;
}

.favourites.preview .favourites-wrap a.favourite:not(.favourites.preview .favourites-wrap.studios a.favourite) {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    min-height: 60px;
}

.favourites.preview .favourites-wrap.studios {
    background: unset !important;
}

.overview div.favourites:nth-child(3) > h2:nth-child(1), .favourites .favourites:nth-child(1) .section-header, .favourites .favourites:nth-child(2) .section-header, .favourites .favourites:nth-child(3) .section-header, .favourites .favourites:nth-child(4) .section-header, .favourites .favourites:nth-child(5) .section-header {
	position: relative !important;
	visibility: hidden !important;
}
.overview div.favourites:nth-child(4) > h2:nth-child(1) {
	position: relative;
	visibility: hidden;
}
.overview div.favourites:nth-child(4) > h2:nth-child(1)::after, .favourites .favourites:nth-child(1) .section-header::after {
	content: "anime";
	position: absolute;
	visibility: visible;
        text-transform: lowercase;
}
.overview div.favourites:nth-child(5) > h2:nth-child(1) {
	position: relative;
	visibility: hidden;
}
.overview div.favourites:nth-child(5) > h2:nth-child(1)::after, .favourites .favourites:nth-child(2) .section-header::after {
	content: "manga";
	position: absolute;
	visibility: visible;
        text-transform: lowercase;
}
.overview div.favourites:nth-child(6) > h2:nth-child(1) {
	position: relative;
	visibility: hidden;
}
.overview div.favourites:nth-child(6) > h2:nth-child(1)::after, .favourites .favourites:nth-child(3) .section-header::after {
	content: "characters";
	position: absolute;
	visibility: visible;
        text-transform: lowercase;
}
.overview div.favourites:nth-child(7) > h2:nth-child(1) {
	position: relative;
	visibility: hidden;
}
.overview div.favourites:nth-child(7) > h2:nth-child(1)::after, .favourites .favourites:nth-child(4) .section-header::after {
	content: "staff";
	position: absolute;
	visibility: visible;
        text-transform: lowercase;
}
.overview div.favourites:nth-child(8) > h2:nth-child(1) {
	position: relative;
	visibility: hidden;
}
.overview div.favourites:nth-child(8) > h2:nth-child(1)::after, .favourites .favourites:nth-child(5) .section-header::after {
	content: "studios";
	position: absolute;
	visibility: visible;
        text-transform: lowercase;
}

/*--- Other Snippets ---*/
div.desktop:nth-child(3) {
	display: none;
}
.nav-wrap a.link:nth-child(8) {
	display: none;
}
#nav.nav {
	background-color: rgba(20, 20, 20, 0.6) !important;
	transition: all 0.5s ease 0s, top 0.5s ease 0s !important;
}
.tooltip .title {
	text-transform: lowercase;
}
.tooltip .content:has(.circle) {
	display: block;
	text-transform: lowercase;
}
.review-card .header {
    font-weight: bold !important;
}
.banner-content .actions > :not(.follower-badge, .nav-btn, .donator-badge) {
        display: none;
}
body:has(.content > .overview, .favourites .favourites) .tooltip .content {
    display: none;
}
.tooltip .title {
    text-transform: lowercase;
}
body:has(.content > .overview, .favourites .favourites) .tooltip .content:has(.circle) {
    display: block;
    text-transform: lowercase;
}
.users {
    background: rgba(10, 10, 10, 0.35) !important;
}
.follow-card {
	background: unset !important;
}
.name-wrapper > .name {
	text-shadow: 0px 0px 6px black;
}
.banner-content > .avatar {
    max-width: 190px !important;
    margin-bottom: 10px;
}
.tooltip .title, .favourites .favourites > .tooltip .title {
  padding-right: 12px !important;
}
.details .title {
    font-weight: 600;
}
/*------------------------ ADDITIONAL SECTION — profile background, transparent wraps, forced dark theme, etc. ------------------------*/
/*--- wrap/miscellaneous transparent backgrounds, some colour styling ---*/
.body,
.activity-feed .details .hohScore {
	background: rgba(20, 20, 20, 0.35) !important;
}
.markdown-editor,
.el-textarea textarea,
.list-section,
.lists .theme-switch,
.filter-group .active,
.filters-wrap input,
.el-slider__runway,
.load-more,
.favourites .favourites .favourites-wrap,
.overview .favourites .favourites-wrap,
.stats .circle,
.stats .switch,
.stats .bar-chart-wrap,
.stats .pie-chart,
.stats .line-chart-wrap,
.filter-group .router-link-active,
.ps-container.horizontal-scroller,
.stats .stat-card,
.hohTable,
.hohTable .header,
.hohThemeSwitch,
.review-card,
.el-input__inner,
.genre-overview.content-wrap,
.activity-history.content-wrap,
.content-wrap,
.footer,
.activity-feed-wrap .wrap,
.activity-feed-wrap .reply,
.el-input,
.comment-wrap.depth-0.even,
.thread-card,
.activity-feed-wrap blockquote,
.comment blockquote,
.markdown-spoiler::before,
.markdown-spoiler.spoiler-visible span,
.embed,
.container > .activity-entry blockquote,
.input,
.stats-wrap .progress,
.hohActive,
.submissions-page .submission {
	background: rgba(10, 10, 10, 0.5) !important;
}
.nav-wrap {
background: rgba(10, 10, 10, 0.825) !important;
}
.container > .activity-entry .wrap,
.container > .activity-entry .reply,
.container > .activity-entry .markdown-editor,
.container > .activity-entry .el-textarea__inner {
    background: rgba(10, 10, 10, 0.55) !important;
}
.el-dropdown-menu.el-popper.el-dropdown-menu--small,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium,
.result-col {
    background: rgba(20, 20, 20, 0.9) !important;
}
.el-dropdown-menu.el-popper.el-dropdown-menu--small .el-dropdown-menu__item:hover,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium .el-dropdown-menu__item:hover,
.result:hover {
	background: rgba(70, 70, 70, 0.3) !important;
        transition: 0.2s ease-in-out;
}
.el-dropdown-menu[x-placement^="top"] .popper__arrow {
    border-top-color: rgb(20, 20, 20, 0.8) !important;
}
.el-dropdown-menu[x-placement^="bottom"] .popper__arrow {
    border-bottom-color: rgb(20, 20, 20, 0.8) !important;
}
.el-dropdown-menu[x-placement^="top"] .popper__arrow::after,
.el-dropdown-menu[x-placement^="bottom"] .popper__arrow::after {
    visibility: hidden !important;
}
.el-dialog__body,
.el-message-box {
	background: rgba(30, 30, 30, 0.9) !important;
}
.ps-container.horizontal-scroller .area {
	fill: rgba(var(--color-blue), 0.85) !important;
}
.stats .x-axis,
.pie-chart .pie-chart,
.stats .stat-card .relations-wrap,
.el-dropdown-menu.el-popper.el-dropdown-menu--small .el-dropdown-menu__item,
.el-dropdown-menu.el-popper.activity-extras-dropdown.el-dropdown-menu--medium .el-dropdown-menu__item,
.el-textarea,
.activity-feed .time,
.container .time,
.thread-card > .footer,
.list-section .progress,
div.filter-group
	div.el-select.format.el-select--small
	div.el-select__tags
	input.el-select__input.is-small {
	background: unset !important;
}
.button.cancel, el-tooltip.el-slider__button {
	background: rgb(20, 20, 20) !important;
}
.el-select-dropdown, .el-dropdown-menu:not(h2 ul), .el-dropdown-menu__item:not(h2 li) {
	background: rgba(20, 20, 20) !important;
}
.el-select-dropdown__item.hover {
	background: rgba(40, 40, 40, 0.5) !important;
       	transition: 0.2s ease-in-out;
}
.el-dropdown-menu__item.el-dropdown-menu__item--divided::before {
    display: none !important;
}
.el-picker-panel.el-date-picker.el-popper {
    border-color: rgba(0,0,0,0) !important;
    background: rgba(20, 20, 20, 0.9) !important;
}
body {
    background-color: black;
}
.quick-search > .name {
text-transform: initial !important;
}
/*--- specific colour styling ---*/
body, 
.site-theme-dark, 
.site-theme-contrast,
:root {
	--color-text: 240, 240, 240; /* plain text, header, statswrap progressbar number indicators */
	--color-text-light: 240, 240, 240; /* genre and statswrap text, secondary navbar links */
	--color-text-lighter: 240, 240, 240; /* filter text, time stamp text and icons */
	--color-foreground-grey-dark: 10, 10, 10, 0.6 !important; /* statswrap progress bar background, activity history empty field background */
	--color-nav-transparent-background: 20, 20, 20, 0.675;
        --color-nav-text-hover: 255, 255, 255; /* top navbar text on hover */
        --color-nav-transparent-text: 255, 255, 255; /* top navbar text in transparent state */
        --color-shadow-blue: 40, 40, 40;
        --color-background-100: 20, 20, 20, 0.95;
        --color-background-200: 20, 20, 20, 0.4;
        --color-gray-100: 20, 20, 20, 0.95;
        --color-gray-600: 255, 255, 255; /* navdropdown secondary text and icons */
        --color-gray-700: 255, 255, 255; /* navdropdown footer text and icons */
        --color-gray-800: 200, 200, 200; /* navdropdown primary text, text and icon hover */
        --color-gray-900: 200, 200, 200; /* navdropdown footer text and icon hover */
        --color-nav-transparent-text: 255, 255, 255; /* top navbar text in transparent state */
		--color-nav-text-hover:  49, 144, 194; /* top navbar text on hover */

		--color-blue: 49, 144, 194; /* primary blue */
}

/*--- container shading and profile background ---*/
:root,
.site-theme-dark,
.site-theme-contrast {
	--border-radius: 10px; /* global border radius */
	--padding-v: 30px; /* vertical content padding */
	--padding-h: 30px; /* horizontal content padding */
	--brt: var(--border-radius) var(--border-radius) 0 0;
	--brb: 0 0 var(--border-radius) var(--border-radius);
	--pdh: var(--padding-v) var(--padding-h);
}

/*--- profile background ---*/
body {
	background-image: url("https://i.imgur.com/EQX9V4k.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*--- banner ---*/
.banner {
	visibility: hidden;
}
.banner > .container {
	visibility: visible;
	justify-content: center;
}
.review-card > .banner {
	visibility: visible;
}

/*--- container ---*/
.header-wrap > .nav-wrap {
	max-width: 1140px !important;
	margin: 0 auto;
	border-radius: var(--brt);
	position: relative;
}
.content.container {
	background: rgba(20, 20, 20, 0.4) !important;
	padding: var(--pdh);
	border-radius: var(--brb);
}
.content > .overview,
.content > .medialist,
.favourites,
.content > .stats,
.content > .user-social,
.content .review-wrap,
.content .submissions {
	margin-top: 0 !important;
}

/*--- Hide Footer ---*/
#app > div > .footer {
        display: none;
}
/*--- List Adjustments ---*/
.list-head>div {
    color: rgb(var(--color-blue));
    font-weight: bold;
    font-style: italic;
}
.medialist.table.compact .entry .title::before {
    color: rgb(var(--color-blue));
    opacity: 0.6;
}
.title > :not(.notes) {
    font-style: italic;
}
.medialist .release-status.RELEASING {
    background: rgb(var(--color-blue));
    box-shadow: 0 0 5px rgb(var(--color-blue));
}
/*------------------------ --- --- ------------------------*/

.banner {
	height: calc(100vh - 46px) !important;
}

.favourites-wrap {
	background: rgba(1, 1, 0, 0.5) !important;
}

.favourites.preview .favourites-wrap .favourite, .favourites.preview .favourites-wrap>div {
	margin-bottom: 10px;
	margin-right: 10px;
}

.favourite {
	height: 104px;
	width: 77px;
	filter: brightness(40%);
	transition: filter 0.3s ease;
}

.favourite:hover {
  filter: brightness(100%); /* Increase brightness on hover */
}

.cover {
	filter: brightness(80%);
	transition: filter 0.3s ease;
}

.cover:hover {
  filter: brightness(100%); /* Increase brightness on hover */
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}	
	::-webkit-scrollbar-thumb {
	background: rgba(var(--color-text-light),.5);
	border-radius: var(--hokaze-br);
}
	::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
	background: rgb(var(--color-blue));
}
	body::-webkit-scrollbar-track {
	background: rgb(var(--color-background));
}
	::-webkit-scrollbar-corner {
		background: transparent;
}

.user .about > div.content-wrap {
    scrollbar-width: none;
}

* {
    scrollbar-width: none;
}


/*------------------------ CSS END ------------------------*/
